.ModalBackground {
  background: rgba(32,35,41,.8);
  position: absolute;
  top: -100px;
  bottom: -100%;
  display: grid;
  justify-content: center;
  align-items: start;
  color: white;
  height: 170vh;

}

