.container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}

.container-imagen {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.section-category {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  margin-left: 10%;
  column-gap: 20px;
}

.container h5 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
}

.button-agregar {
  margin-top: 50px;
  margin-left: 30px;
  height: 30px;
  background-color: rgb(222, 104, 220);
  border-radius: 5px;
  border-color: rgb(255, 107, 253);
}

