/* .formulario {
  display: grid;
  margin-top: 20px;
}

.formulario input {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 8px 4px;
  display: block;
  width: 50%;
  margin-left: 30%;
}

.but {
  width: 10%;
  margin-left: 50%;
}

.tit {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
} */

.div{
  display: flex;
  margin-top: 5%;
}

.form {
  margin-left: 15%;
  max-width: 320px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form-login {
  gap: 10px;
  margin-left: 20%;
  max-width: 320px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a202c;
}

.label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
  margin-left: 20px;
}

.input {
  background-color: white;
  border-radius: 8px;
  color: rgba(0,0,0,0.75);
  font-size: 14px;
  height: 42px;
  line-height: 32px;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 4px 12px;
  width: 100%;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid green;
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  background-color: #1a202c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
    
.titulo-bienvenido {
  display: grid;
  justify-content: center;
  margin-top: 30px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color:  rgb(140, 140, 245);
  border: 1px solid black;
  background-color: rgb(244, 244, 244);
}

    